body {
  background-color: #A7CCED;
  font-family: 'Work Sans', sans-serif;
}

header {
  width: 50%;
  margin: 0 auto;
  background-color: #7489A1;
  border-radius: 8px;
  border: 2px solid #304D6D;
  margin-bottom: 20px;
}

fieldset {
  padding: 5px;
}

nav {
  margin-bottom: 10px;
}

main {
  width: 50%;
  margin: 0 auto;
  background-color: #7489A1;
  border-radius: 8px;
  border: 2px solid #304D6D;
  padding: 5px;
}

.headerText {
  text-align: center;
}

.mainPageLink {
  text-decoration: none;
  background-color: #304D6D;
}

#confirmationContainer {
  width: 80%;
  margin: 0 auto;
}

#form {
  width: 60%;
  margin: 0 auto;
  background-color: #7489A1;
  border-radius: 8px;
  border: 2px solid #304D6D;
  margin-top: 40px;
}
