.imp {
  color: red;
}

.input {
  vertical-align: top;
}

.inputText {
  height: 14px;
  width: 150px;
}

.placeholder {
  color: red;
}

.radio {
  padding-top: -30;
}

#locCol {
  float: right;
}

#resCol {
  float: left;
}

#title {
  font-variant: small-caps;
}
