body {
  background: #66ffff;
  }

p {
  font-size: 11pt;
  font-weight: normal;
}

.imp {
  color: red;
}

.input {
  vertical-align: top;
}

.inputText {
  height: 14px;
  width: 150px;
}

.placeholder {
  color: red;
}

.radio {
  padding-top: -30;
}

.redText {
  color: red;
}

#locCol {
  float: right;
  padding-right: 25%;
  text-align: center;
}

#locTitle {

}

#resCol {
  float: left;
}



#title {
  font-variant: small-caps;
}
