body {
  background-color: #9f7e69;
  font-family: 'Work Sans', sans-serif;
}

#food {
  display: block;
  border-radius: 20px;
  padding: 5px;
}

.button {
  border: 5px solid black;
  width: 150px;
  height: 150px;
}

/*.circle {
   border-radius: 200%;
   width:100px; height:100px;
   margin-top:180px; transform-origin:200% center;
   position:absolute; animation:rotate 10s linear infinite;
 }*/

/*.circle:before {
  content:'SOS';font-size: 55px;
  border-radius: 200%;
  position: absolute;
  height:100px; width:100%;
  background: radial-gradient(circle at 400px 200px, #5cabff, red);
  animation:rotate 10s linear reverse infinite; }*/
